@charset "UTF-8";

/* footer */

#footer .footer-area{
    padding-top: 52px;
    padding-bottom: 52px;
}

#footer .footer-area .footer-order .tel{
    font-size: 25px;
}

.footer-contact{
    margin-top: 20px;
}

.footer-contact > li{
    display: inline-block;
    margin-left: 18px;
    font-size: 17px;
}

.footer-contact > li > a{
    margin-left: 10px;
    color: #888;
}

#footer .footer-area .footer-info{
    margin-top: 30px;
    line-height: 23px;
    color: #888;
}